<header class="mb-5" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        id="header">


    <div class="container text-dark ">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">DOB Shop</span>
            </a>

            <ul class="nav nav-pills">
                <li class=""><a class="nav-link active " aria-current="page" href="/">Accueil</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Collection</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Summer</a></li>
                        <li><a class="dropdown-item" href="#">Daily</a></li>
                        <li><a class="dropdown-item" href="#">Winter</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/produit">Tout nos sacs</a></li>
                        <li><a class="dropdown-item" href="/categorie">Toutes les collections</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link text-dark" href="/produit">Nous contacter</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/produit">A propos</a></li>
                <li class="nav-item" sec:authorize=""><a class="nav-link text-dark" href="/user">Utilisateurs</a></li>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <img src="/images/profil.jpg" class="img-circle">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Profil</a>
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </ul>
        </header>


    </div>


    <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="${param.error}" id="errMessage">
    </div>

    <div class="alert alert-success" role="alert" th:if="${param.success}" id="succMessage">
        Opération effectuée avec succès
    </div>

</header>