<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head class="mb-5" th:include="~{ fragments/head::#head }"></head>
<body>

<header class="mb-5" th:include="~{ fragments/header::#header }"></header>

<main class="container">


    <div class="p-5 text-center bg-light" style="margin-top: 58px;">
        <h1 class="mb-3 animate__animated animate__repeat-2 animate__slower animate__bounce">Welcome</h1>
        <img src="/images/logo.png" class="bi me-2 border border-dark mb-5" width="300" height="300">
        <h4 class="mb-4">Bienvenue chez D.O.B Luxury</h4>
        <p class="mb-4"> Chez D.O.B luxury, tous nos sacs sont fabriqué à partir de matière renouvelable respectant
            ainsi
            l'environnement et notre planète </p>
        <a class="btn btn-primary animate__animated animate__infinite animate__slower animate__heartBeat" href="/categorie"
           role="button">NOS COLLECTIONS</a>
    </div>

</main>

<footer th:include="~{ fragments/footer::#footer }"></footer>

</body>
</html>