<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head class="mb-5" th:include="~{ fragments/head::#head }"></head>
<body>
<header class="mb-5" th:include="~{ fragments/header::#header }"></header>

<main class="container">
    <h1 th:if="${categorie.codeCategorie == 0 }">Ajouter une categorie</h1>
    <h1 th:if="${categorie.codeCategorie != 0 }">Editer une categorie</h1>
    <hr>
    <div class="alert alert-danger" role="alert" th:if="${error != null && error.length() > 0}" th:text="${error}">
    </div>

    <form name="monForm" action="" method="post">
        <div class="form-line mb-4">
            <label class="form-label">Nom *</label>
            <input class="form-control" minlength="2" type="text" name="nom" placeholder="Nom de la categorie" required th:value="${categorie.nom}">
        </div>
        <div class="form-line mb-4">
            <label>Description *</label>
            <input class="form-control" type="text" name="description" placeholder="Description" required th:value="${categorie.description}">
        </div>

        <div class="form-line mb-4">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

    </form>

</main>

<footer th:include="~{ fragments/footer::#footer }"></footer>

</body>
</html>